/* You can add global styles to this file, and also import other style files */
:root {
   --primary: #000000;
  --accent: #4f46e5;
  --gray: #f4f4f7;
  --text: #0f172a;
  --bg: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);

}