<section class="hero">
  <h2>Encontre serviços confiáveis perto de você</h2>
  <p>
    Contrate profissionais avaliados para resolver seus problemas do dia a dia,
    sem complicação.
  </p>

  <div class="search-box">
    <input
      type="text"
      placeholder="O que você precisa? Ex: mecânico, pintor, eletricista"
    />
    <button>Buscar</button>
  </div>
</section>

<main class="container">
  <h2 class="section-title">Categorias populares</h2>

  <div class="categories">
    
    <app-category [icon]="'🔧'" [title]="'Mecânica'"></app-category>
    <app-category [icon]="'🎨'" [title]="'Pintura'"></app-category>
    <app-category [icon]="'💡'" [title]="'Elétrica'"></app-category>
    <app-category [icon]="'💻'" [title]="'TI'"></app-category>
    <app-category [icon]="'🚿'" [title]="'Hidráulica'"></app-category>
    <app-category [icon]="'🧹'" [title]="'Limpeza'"></app-category>
  </div>

  <h2 class="section-title">Últimos Serviços</h2>

  <div class="cards">
    <app-cards [cardTitle]="'Manutenção automotiva'" [cardDescription]="'Manutenção automotiva e diagnóstico completo, atendimento rápido.'"></app-cards>
    <app-cards [cardTitle]="'Pintura residencial'" [cardDescription]="'Pintura de interiores e exteriores, acabamento de alta qualidade.'"></app-cards>
    <app-cards [cardTitle]="'Reparos elétricos'" [cardDescription]="'Instalação e reparo de sistemas elétricos, segurança garantida.'"></app-cards>
  </div>
</main>
